@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body,
html {
  background-color: beige;
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  transform: scale(1.05); /* Легке збільшення кнопки */
  color: var(--color-prime);
}
h2 {
  font-size: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 70px;
}

.menu nav {
  display: flex;
  gap: 20px;
}
.button img {
  width: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 20px;
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  display: none;
}

#cookie-banner p {
  margin: 0;
  font-size: 16px;
}

#cookie-banner button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

#cookie-banner button.decline {
  background-color: #f44336;
}

#cookie-banner button:hover {
  opacity: 0.8;
}

/* scroll */
/* Стилізація скролбару на всьому сайті */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скролбару */
  height: 12px; /* Висота горизонтального скролбару */
}

::-webkit-scrollbar-thumb {
  background-color: #ff4500; /* Колір самого скролбару */
  border-radius: 6px; /* Заокруглені кути */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b0082; /* Темніше індиго при наведенні */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Колір фону скролбару */
  border-radius: 6px; /* Заокруглені кути */
}

::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1; /* Колір внутрішньої частини треку */
}

@media (max-width: 768px) {
  .container {
    min-width: 300px;
    width: 90%;
  }
}

/* Загальні стилі для бургер-меню */
.burger-menu {
  display: none; /* Ховати бургер-меню на десктопах */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999; /* Вищий z-index, щоб бургер-меню було зверху */
}

.burger-line {
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 5px;
}

/* Стилі для меню на мобільних пристроях */
@media (max-width: 768px) {
  #nav-menu {
    /* Тепер звертаємось до id */
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #fff;
    color: #333;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 998; /* Зробити menu менше, щоб воно не перекривало бургер */
  }

  /* Стилі для мобільного меню при відкритті */
  #nav-menu.active {
    display: flex; /* Переключаємо на відображення */
    flex-direction: column; /* Розташовуємо елементи вертикально */
  }

  /* Показати бургер-меню на мобільних пристроях */
  .burger-menu {
    display: flex;
  }
}
.logo a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
}
.header-color {
  background-color: beige;
  color: #333;
}
/* Загальні стилі для hero секції */
.hero {
  background: linear-gradient(135deg, #4f0202, #ff4500);

  padding: 100px 0;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  animation: fadeIn 2s ease-in-out;
}

/* Стилі для зображення героя */
.hero-img img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.hero-img, .hero-text {
  flex: 1;
}

/* Стилі для текстової частини */
.hero-text h1 {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.3;
  margin: 20px 0;
  text-transform: uppercase;
  animation: slideInLeft 1s ease-out;
}

.hero-text p {
  font-size: 20px;
  line-height: 1.3;
  max-width: 600px;
  margin: 0 auto 30px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1s forwards;
}

/* Кнопки */
.hero-button {
  display: flex;
  align-items: center;
}
.hero-button a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 15px 30px;
  background-color: #ff4500;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.hero-button a:hover {
  background-color: #ff6347;
  transform: translateY(-5px);
}

/* Анімації */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Анімація для зображення */
.hero-img img:hover {
  transform: scale(1.05);
}

/* Основні стилі для секції Features */
.features {
  background-color: beige; /* Теплий градієнт фону */
  padding: 80px 0;
  color: white;
  text-align: center;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Адаптивний макет */
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.features-item {
  background-color: rgba(0, 0, 0, 0.3); /* Прозорий чорний фон */
  border-radius: 10px;
  padding: 30px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.features-item:hover {
  transform: translateY(-10px); /* Підйом елемента при наведенні */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Збільшення тіні */
}

/* Стилі для іконок */
.features-item i {
  font-size: 40px;
  color: #ff6347; /* Колір іконки */
  margin-bottom: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Анімація для іконок */
.features-item:hover i {
  color: #ff8c00; /* Зміна кольору іконки */
  transform: scale(1.1); /* Збільшення іконки при наведенні */
}

.features-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

.features-item p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Анімація для кожного елементу */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Застосування анімації до елементів */
.features-item:nth-child(1) {
  animation: fadeInUp 0.5s ease-out 0.2s forwards;
}
.features-item:nth-child(2) {
  animation: fadeInUp 0.5s ease-out 0.4s forwards;
}
.features-item:nth-child(3) {
  animation: fadeInUp 0.5s ease-out 0.6s forwards;
}
.features-item:nth-child(4) {
  animation: fadeInUp 0.5s ease-out 0.8s forwards;
}

/* Основні стилі для секції About */
.about {
  background: linear-gradient(
    135deg,
    #ff7f50,
    #ff4500
  ); /* Теплий градієнт фон */
  padding: 100px 0;
  color: white;
  text-align: center;
}

/* Стилі для текстової частини */
.about-block {
  display: flex;
  gap: 30px;
}
.about-text h2 {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-out;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  animation: fadeInUp 1s ease-out 0.5s forwards;
}

.about-img img {
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  animation: fadeInUp 1s ease-out 1s forwards;
}

/* Стилі для контейнера з елементами */
.about-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Адаптивний макет */
  gap: 30px;
  margin-top: 60px;
}

.about-item {
  background-color: rgba(0, 0, 0, 0.4); /* Прозорий фон */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.about-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Стилі для іконок */
.about-item i {
  font-size: 40px;
  color: #ff6347; /* Колір іконки */
  margin-bottom: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Анімація для іконок */
.about-item:hover i {
  color: #ff8c00; /* Зміна кольору іконки */
  transform: scale(1.1); /* Збільшення іконки при наведенні */
}

.about-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

.about-item p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Анімація для кожного елементу */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анімація для елементів секції */
.about-item:nth-child(1) {
  animation: fadeInUp 0.5s ease-out 1s forwards;
}
.about-item:nth-child(2) {
  animation: fadeInUp 0.5s ease-out 1.2s forwards;
}
.about-item:nth-child(3) {
  animation: fadeInUp 0.5s ease-out 1.4s forwards;
}
.about-item:nth-child(4) {
  animation: fadeInUp 0.5s ease-out 1.6s forwards;
}

/* Стилізація секції відгуків */
.reviews {
  background-color: beige;
  padding: 80px 0;
  color: white;
  text-align: center;
}

.reviews h2 {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #333;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* Адаптивний макет */
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Стилізація кожного відгуку */
.review-item {
  background-color: rgba(0, 0, 0, 0.4); /* Прозорий фон */
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.review-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Стилізація зображення користувача */
.review-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}

.review-user-info h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.review-user-info p {
  font-size: 1rem;
  color: #bbb;
}

.review-stars {
  margin: 10px 0;
  color: #ff6347; /* Колір зірок */
}

.review-stars i {
  font-size: 20px;
}

.review-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 10px;
  color: #ddd;
}

/* Анімація для відгуків */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анімація для кожного елементу */
.review-item:nth-child(1) {
  animation: fadeInUp 0.5s ease-out 1s forwards;
}
.review-item:nth-child(2) {
  animation: fadeInUp 0.5s ease-out 1.2s forwards;
}
.review-item:nth-child(3) {
  animation: fadeInUp 0.5s ease-out 1.4s forwards;
}

/* pay-container */
.pay {
  background: linear-gradient(135deg, #4f0202, #ff4500);
  padding: 100px 0;
  color: beige;
  line-height: 1.3;
}
.pay-container {
  display: flex;
  gap: 30px;
}

.pay-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.pay-text p {
  font-size: 26px;
}

.pay-video iframe {
  border-radius: 20px;
  box-shadow: #333;
}

.btn {
  justify-content: center;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 22px;
  }

  .hero-container {
    flex-direction: column;
  }
  .hero-button a {
    font-size: 14px;
    gap: 5px;
    padding: 15px;
  }

  .about-block {
    flex-direction: column;
  }

  .about-text h2 {
    font-size: 20px;
  }
  .about-text p {
    font-size: 16px;
    line-height: 1.3;
  }
  .reviews h2 {
    font-size: 22px;
  }
  .pay-container {
    flex-direction: column;
    text-align: center;
  }

  .pay-text h2 {
    font-size: 22px;
  }

  .pay-text p {
    font-size: 16px;
  }

  .hero-button {
    justify-content: center;
  }

  .pay-video iframe {
    min-width: 300px;
    width: 100%;
    height: auto;
  }
  .container-footer {
    flex-direction: column;
    text-align: center;
  }
  .container-footer p {
    font-size: 14px;
  }
}
